/* Pre-settings */
*::selection {
    color: #c5a0cf;
}

:root {
    --color-white: #ffffff;
}

/* Text */
body {
    background-size: auto;
    font-family: "Quantico", sans-serif;
}

h1, h2, h3, h4, h5, p {
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    font-family: "Quantico", sans-serif;
}

h1, h2 {
    font-size: 36px;
}

h3, p {
    font-size: 24px;
}

h4, .medium-text {
    font-size: 16px;
}

h5, .small-text {
    font-size: 12px;
}

.smaller-text {
    font-size: 14px;
}

/* Background */
.background {
    background-color: #080321;
}

.background2 {
    background-image: url(../images/casino/background/background-overlay.png);
    background-size: cover;
}

/* General */
main {
    display: none;
    justify-content: center;
    align-items: center;
    margin-inline: 24px;
    margin-top: 24px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "hd hd hd hd hd"
    "overview overview overview overview overview"
    "content content content content content"
    "games games games games games"
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.flex-row-options {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

button {
    width: 180px;
    font-size: 15px;
    padding-inline: 40px;
    padding-block: 16px;
    background-color: #09012260;
    color: var(--color-white);
    border-radius: 10px;
    border: solid #393431 1px;
}

button:hover {
    border: solid #9333B4 1px;
}

div {
    font-family: "Cabin", sans-serif;
    font-size: 24px;
}

/* Menu */ 
header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 48px;
    background: linear-gradient(127deg, #281130 0%, #190930 35%, #090122 100%);
    margin-inline: 0px;
    border-radius: 24px;
    padding-inline: 16px;
    margin-bottom: 16px;
    width: 98%;
    height: auto;
    grid-area: hd;
}

#header-profile {
    padding-top: 9%;
}

.icon, .icon-header {
    padding-top: 10%;
    padding-left: 2%;
    align-content: center;
    text-align: center;
}

#total-credits {
    padding-inline-end: 16px;
}

/* Content */
.content {
    background-image: url(../images/casino/background/background-games.jpg);
    margin: 10px;
    border-radius: 10px;
    border: solid #ffffff93 0.1px;
    height: 628px;
    grid-area: content;
}

input[type="radio"] {
    width: 24px;
    height: 24px;
    background-color: #09012260;
    border: solid #393431 1px;
    appearance: none;
    outline: none;
}

input[type="radio"]:not(:disabled):checked {
    background-color: #9333B4;
}

input[type="radio"]:disabled {
    background-color: #3934313a;
    border: solid #3934313a 1px;
}

/* Games */
.games {
    background-color: #1D0E35;
    height: 580px;
    padding: 24px;
    padding-top: 36px;
    margin-right: 16px;
    border-radius: 10px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
    grid-area: games;
}

.game:hover {
    opacity: 65%;
}

/* Overview */
.overview {
    margin-left: 0px;
    margin-right: 8px;
    background-color: #1D0E35;
    border-radius: 10px;
    grid-area: overview;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 628px;
}

.bet-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.confirm {
    margin-top: 36px;
}

.leaderboard-container {
    display: block;
}

.leaderboard-text {
    min-width: 92px;
    max-width: 92px;
    justify-content: center;
    margin-top: -8px;
}

.leaderboard-player {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 20px;
}

.leaderboard-h5 {
    margin-top: -12px;
}

/* Options */
#overlay-options {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    z-index: 2;
    cursor: pointer;
}

#overlay-content {
    padding-top: 2%;
    background-color: #ffffff75;
    width: 60%;
    height: 460px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.center-options {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Sign-up */
.name-input {
    display: flex;
    flex-direction: column;
}

.profile-container {
    margin-top: -8px;
    margin-bottom: 8px;
    padding-block: 24px;
    display: flex;
    gap: 24px;
}

#sign-up {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.profile-setupimg {
    width: 200px;   
    height: 200px;
}

/* Welcome */
#welcome-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;  
}

.error-message {
    font-size: 16px;
    margin-block-start: -8px;
    color: red;
}

/* Games general */
#blackjack, #blackjack-bet {
    display: block;
}

#rps, #rps-bet {
    display: none;
}

#slots, #slots-bet {
    display: none;
}

#roulette, #roulette-bet {
    display: none;
}

.game-padding {
    padding-top: 5.8%;
}

.message {
    padding-bottom: 10px;
    padding-inline: 16px;
}

.explainer-text {
    padding-inline: 18%;
}

.center {
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

/* Blackjack */
.center-cards {
    padding-block: 24px;
    display: none;
    flex-flow: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#new-card {
    display: none;
}

#another-card {
    display: none;
}

#keep-hand {
    display: none;
}

#sum-el {
    display: none;
    margin-bottom: 6px;
}

#explainer-black {
    display: block;
}

#explained-black {
    display: none;
    padding-bottom: 10vh;
}

#restart-black {
    display: none;
}

.card {
    width: 10%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 16px;
    margin-inline: 24px;
    padding: 24px;
    text-align: right;
    color: #181a1a;
    border-radius: 10px;
    position: relative;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}
  
.card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
}

#card-one, #card-two, #card-three, #card-four {
    display: none;
}

/* Slots */
#slider-output-slots {
    padding-top: 3px;
    padding-bottom: 4px;
}

#explained-slots {
    display: none;
    padding-top: 1px;
    padding-bottom: 10vh;
}

#restart-slots {
    display: none;
}

.slot {
    width: 19%;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 16px;
}

/* Roulette */
.roulette-item {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.roulette-item:hover {
    opacity: 65%;
}

.center-roulette {
    margin-left: -32px;
    width: 240px;
    height: 240px;
    display: grid;
    gap: 20px;
    grid-template-columns: 33% 33% 33%;
}

.center-roulette2 {
    margin-left: -14px;
    width: 170px;
    height: 170px;
    padding-top: 56px;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
}

#select-roulette {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#restart-roulette {
    display: none;
}

#explained-roulette {
    display: none;
}

#result-roulette {
    display: none;
    align-items: center;
    justify-content: center;
}

#roulette-resultIMG {
    padding-top: 6%;
    width: 24%;
}

/* RPS */
#slider-output-rps {
    padding-top: 3px;
    padding-bottom: 4px;
}

#explained-rps {
    display: none;
    padding-top: 1px;
    padding-bottom: 10vh;
}

.rps-flex {
    display: flex;
    flex-direction: row;
    gap: 54px;
    justify-content: center;
    align-items: center;
}

.rps-item {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rps-item-hov:hover {
    opacity: 65%;
}

#select-rps {
    display: none;
    padding-top: 3%;
}

#result-rps {
    display: none;
    padding-top: 3%;
}

.vs-text {
    margin-top: -50px;
    margin-right: 14px;
}

#restart-rps {
    display: none;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    /* General */
    .breakpoint {
        display: none;
    }

    .breakpoint-flex {
        display: none;
    }

    .flex-row-options {
        display: block;
        gap: 24px;
    }

    /* Menu */
    header {
        justify-content: space-evenly;
        gap: 8px;
        margin-inline: 6px;
        padding-inline: 8px;
        margin-bottom: 24px;
    }

    #total-credits {
        padding-inline-end: 0px;
    }

    /* Overview */
    .overview {
        margin-left: 8px;
        height: 300px;
    }

    /* Content */
    .content {
        margin-top: 24px;
    }

    /* Games */
    .games {
        padding-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-top: 16px;
        margin-inline: 8px;
        padding: 36px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
    }

    .message {
        padding-top: 12%;
        padding-bottom: 10px;
        padding-inline: 16px;
        font-size: 24px;
    }

    #game4 {
        margin-top: -26px;
    }

    .explainer-text {
        padding-top: 1%;
        padding-inline: 15%;
        font-size: 13px;
    }

    .card {
        padding: 16px;
        margin-inline: 8px;
        width: 16%;
    }

    .rps-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
    }

    .rps-icon {
        width: 100px;
        height: 100px;
    }

    /* Options */
    .options-img {
        padding-top: 1%;
        width: 28%;
    }

    /* Sign-up */
    .profile-setupimg {
        width: 140px;   
        height: 140px;
    }    

    .profile-container {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) {   
    /* General */ 
    .breakpoint {
        display: none;
    }

    .breakpoint-flex {
        display: none;
    }

    .flex-row-options {
        display: block;
        gap: 24px;
    }

    /* Menu */
    header {
        justify-content: space-evenly;
        gap: 8px;
        margin-inline: 6px;
        padding-inline: 8px;
        margin-bottom: 24px;
    }

    #total-credits {
        padding-inline-end: 0px;
    }

    /* Overview */
    .overview {
        margin-left: 8px;
        height: 300px;
    }

    /* Content */
    .content {
        margin-top: 24px;
    }

    /* Games */
    .games {
        padding-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-top: 16px;
        margin-inline: 8px;
        padding: 36px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
    }

    .message {
        padding-top: 12%;
        padding-bottom: 10px;
        padding-inline: 16px;
        font-size: 24px;
    }

    #game4 {
        margin-top: -10px;
    }

    .explainer-text {
        padding-top: 1%;
        padding-inline: 15%;
        font-size: 13px;
    }

    .card {
        padding: 16px;
        margin-inline: 8px;
        width: 16%;
    }

    .rps-flex {
        gap: 24px;
    }

    .rps-icon {
        width: 160px;
        height: 160px;
    }

    /* Options */
    .options-img {
        padding-top: 1%;
        width: 21%;
    }

    .options-text {
        margin-top: 27px;
    }

    /* Sign-up */
    .profile-setupimg {
        width: 140px;   
        height: 140px;
    }    

    .profile-container {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* General */
    .breakpoint {
        display: none;
    }

    .breakpoint-flex {
        display: flex;
    }

    .flex-row-options {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    /* Menu */
    header {
        justify-content: space-between;
        gap: 8px;
        margin-inline: 6px;
        padding-inline: 8px;
        margin-bottom: 24px;
    }

    #total-credits {
        padding-inline-end: 16px;
    }

    .explainer-text {
        padding-top: 1%;
        padding-inline: 15%;
        font-size: 16px;
    }
    
    .message {
        padding-top: 0%;
        padding-bottom: 10px;
        padding-inline: 16px;
        font-size: 36px;
    }

    #game4 {
        margin-top: -10px;
    }

    .card {
        padding: 16px;
        margin-inline: 8px;
        width: 10%;
    }

    .rps-flex {
        gap: 54px;
    }

    .rps-icon {
        width: 168px;
        height: 168px;
    }
    
    /* Options */
    .options-img {
        padding-top: 10%;
        width: 70%;
    }

    /* Sign-up */
    .profile-setupimg {
        width: 140px;   
        height: 140px;
    }

    .profile-container {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    /* General */
    main {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd"
        "games overview overview content content content content content content content"
    }

    .breakpoint {
        display: block;
    }

    .breakpoint-flex {
        display: flex;
    }

    /* Overview */
    .overview {
        margin-left: 0px;
        margin-top: -10px;
        height: 636px;
    }

    /* Content */
    .content {
        margin-top: 0px;
    }

    /* Games */
    .games {
        padding-top: 36px;
        margin-top: 1px;
        margin-bottom: 10px;
        margin-right: 16px;
        padding: 24px;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        height: 590px;
    }

    #game4 {
        margin-top: -10px;
    }

    .explainer-text {
        padding-inline: 18%;
    }

    .card {
        padding: 16px;
        margin-inline: 16px;
        width: 12%;
    }

    .rps-flex {
        gap: 54px;
    }

    .rps-icon {
        width: 182px;
        height: 182px;
    }

    /* Options */
    .options-img {
        padding-top: 10%;
        width: 70%;
    }

    .options-text {
        margin-top: 24px;
    }

    /* Sign-up */
    .profile-setupimg {
        width: 200px;   
        height: 200px;
    }  
    .profile-container {
        display: flex;
        gap: 24px;
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    /* General */
    main {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd"
        "games overview overview content content content content content content content"
    }

    /* Overview */
    .overview {
        margin-left: 0px;
        margin-top: -10px;
        height: 636px;
    }

    /* Games */
    .games {
        padding-top: 36px;
        margin-top: 1px;
        margin-bottom: 10px;
        margin-right: 16px;
        padding: 24px;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        height: 590px;
    }

    #game4 {
        margin-top: -10px;
    }

    .explainer-text {
        padding-inline: 18%;
    }

    .rps-flex {
        gap: 54px;
    }

    .rps-icon {
        width: 200px;
        height: 200px;
    }

    /* Options */
    .options-text {
        margin-top: 24px;
    }

    .options-img {
        padding-top: 10%;
        width: 70%;
    }
}