/* Pre-settings */
@font-face {
    font-family: "Pokemon";
    src:url(../font/Pokemon.ttf);
}

*::selection {
    color: #ffffff50;
}

/* Text */
body {
    font-family: "Pokemon";
    font-size: 16px;
    background-image: url(../images/poke/poke-wallpaper.jpg);
    background-repeat: no-repeat;
    background-color: rgb(127, 181, 112);
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

button {
    width: 200px;
    font-size: x-large;
    padding-inline: 30px;
    padding-block: 12px;
    border: #cfcfcf6a, 3px, solid;
    border-radius: 5px;
    background-color: #ffffff00;
}

/* Poke */
#introduction {
    padding-block: 20px;
    align-items: center;
    text-align: center;
}

#battle-option1, #battle-option2, #battle-option3, #battle-option4 {
    display: none;
}

header {
    padding-top: 1%;
    padding-bottom: 2%;
}

.startbtn { 
    margin-top: 50px;
}

.returnbtn {
    margin-top: 10px;
    margin-bottom: 50px;
}

.selection-you {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.selection-cpu {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.selection-option {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.selection-choosematch {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selection-choosematch-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0px;
}

input {
    width: 20px;
    height: 20px;
}

.names {
    display: flex;
    flex-direction: row;
    gap: 44px;
    margin-bottom: -20px;
}

.wrap {
    padding-inline: 100px;
    padding-block: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}

.log {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    text-align: center;
    text-overflow: clip;
    overflow-y: scroll;
}

.attacks {
    display: flex;
    gap: 0.4px;
    padding-top: 3%;
}

.attackbox {
    width: 100vh;
    height: 50%;
    background-color: #ffffff50;
    align-items: center;
    text-align: center;
    padding: 60px;
    border: solid 3px gray;
}

.attackbox:hover {
    background-color: #ffffff99;
}

.center {
    align-items: center;
    text-align: center;
}

.exclude {
    text-align: left;
}

/* Media queries */
@media (max-width: 992px) {
    /* Text */
    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    /* Poke */
    .selection-you {
        display: block;
    }

    .selection-cpu {
        display: block;
    }

    .selection-choosematch-text {
        padding-top: 20px;
        gap: 3%;
    }

    .startbtn { 
        margin-top: 50px;
    }

    .returnbtn {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .wrap {
        display: block;
        padding-inline: 50px;
        padding-block: 50px;
    }
    
    .log {
        display: none;
    }

    .attacks {
        display: block;
        text-align: center;
        align-self: center;
        gap: 0.4px;
    }

    .attackbox {
        width: auto;
        height: auto;
        background-color: #ffffff50;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: solid 3px gray;
    }

    .attackbox:hover {
        background-color: #ffffff99;
    }
}