/* Pre-settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*::selection {
    color: #ffffff50;
}

/* Text */
body {
    background-color: #2a3048;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 86px;
    text-align: center;
    padding-top: 10px;
    color: #f94f6d;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

h4 {
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 16px;
    margin-block: -4px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Scoreboards */
#basketball-section {
    display: block;
}

#rugby-section, #tennis-section {
    display: none;
}

.icon {
    padding: 8px;
    border: solid #ffffff 1px;
    border-radius: 5px;
}

img:active {
    transform: scale(0.96);
}

.icon-set {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-column: auto;
    gap: 0.5em;
    color: #ffffff;;
    text-align: center;
    margin-top: -4%;
}

.home {
    grid-area: 1 / 1 / 2 / 3;
}

.guest {
    grid-area: 1 / 3 / 2 / 6;
}

.home,
.guest {
    width: 18em;
    padding: 1em;
}
    
.scoreboard-home,
.scoreboard-guest {
    width: 8.75em;
    background-color: #080001;
    margin: 1.25em auto;
    border-radius: 5px;
}

.scoreboard-guest-tennis {
    width: 8.75em;
    background-color: #080001;
    margin: 1.25em auto;
    border-radius: 5px;
}
 
.buttons {
    display: flex;
    gap: 0.4em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.basketball-btn, .rugby-btn, .tennis-btn {
    border: 0;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Cursed Timer ULiL", sans-serif;
}

.basketball-btn {
    color: #9aabd8;
    border: 2px solid #9aabd8;
}

.rugby-btn {
    color: #d8be9a;
    border: 2px solid #d8be9a;
}

.tennis-btn {
    color: #9ad8b0;
    border: 2px solid #9ad8b0;
}
  
.reset-btn {
    letter-spacing: 0.125em;
}
  
.buttons > button:active {
    transform: scale(0.96);
}

.item-score {
    display: flex;
}
  
/* Media queries */
@media (max-width: 667px) {
    body {
       height: 20vh;
    }

    .container {
        display: block;
        margin-top: -10%;
    }

    .item-score {
        margin-top: 10%;
        margin-left: 13%;
    }

    .icon-set {
        margin-top: 3%;
    }
}
