/* Pre-settings */
*::selection {
    color: var( --color-white);
}

:root {
    --color-green: #10B981;
    --color-grey: #273549;
    --color-white: #FFFFFF;
}

.material-symbols-outlined {
    padding-top: 20px;
    margin-left: -40px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
}

/* Text, etc */
h1 {
    font-family: "Karla", sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: var(--color-white);
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #a63636;
    padding-block: 4px;
}

hr {
    background: var(--color-grey);
    height: 1px;
    border: none;
}

button {
    width: 154px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    padding: 12px;
    padding-top: 14px;
    border: solid 3px var(--color-green);
    border-radius: 6px;
    background: var(--color-green);
    color: var(--color-white);
}

button:hover {
    background-color: #0b7d57;
}
 
button > img {
    margin-top: -2px;
    margin-right: 8px;
}

.text-green {
    color: var(--color-green);
}

.text-accent {
    color: #D5D4D8;
}

.subheading {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 12px;
    margin-bottom: 48px;
}

/* Others */
#generate {
    display:inline-flex;
    height: 100%;
}

input {
    font-family: "Inter", sans-serif;
    width: 48px;
    height: 24px;
    padding: 12px;
    border: none;   
    border-radius: 6px;
    margin-right: 16px;
}

.button-flex {
    display: flex;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.column-left, .column-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column-left {
    margin-right: 11px;
}

.column-right {
    margin-left: 11px;
}

.spacing {
    margin-bottom: 18px;
}

.container {
    padding: 48px;
    margin: 48px;
    background: #1F2937;
}

.password {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 50px;
    display: flex;
    margin: 8px 0;
    color: var(--color-green);
    background-color: var(--color-grey);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-section {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -8px;
}

#copy-one, #copy-two, #copy-three, #copy-four {
    color: var(--color-grey);
}

/* Media queries */
@media (max-width: 667px) {
    .row {
        display: block;
        width: 100%;
    }

    .column-left {
        margin-right: 0px;
    }
    
    .column-right {
        margin-left: 0px;
    }

    .password {
        font-size: 11px;
    }
}