/* Pre-settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
  color: #d0cca5;
}

/* Text etc */
body {
  font-family: helvetica, arial, sans-serif;
  color: #FEFDE6;
  background-color: #0F2113;
  padding: 24px;
}
  
h1 {
  font-size: 32px;
  padding-block: 16px;
  color: #E8E6CF;
  text-align: center;
}

h2 {
  font-size: 18px;
  padding-block: 24px;
  color: #E8E6CF;
  text-align: center;
}

p {
  padding-top: 4px;
}

i {
  margin-top: 4px ;
}

button {
  font-size: 12px;
  font-weight: 800;
  background-color: #ffffff20;
  color: #E8E6CF;
  margin: -2px;
  padding: 24px;
  border: 2px solid #FEFDE6;
}

button:hover {
  background-color: #ffffff30;
}

img {
  width: 124px;
  height: auto;
}

/* Background */
.background {
  background-image: url('../images/whatisthis/forestbackground.png');
  background-position: center;
}

/* Application */
.camView {
  position: relative;
  float: left;
  margin: 10px;
  border: 2px solid #FEFDE6;
  width: 644px;
  height: 484px;
}
  
.camView p {
  display: block;
  position: absolute;
  padding: 5px;
  background-color: #FEFDE6;
  color: #545454;
  border: 1px solid #FEFDE6;
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  display: block;
  background: #6d6d6d40;
  border: 1px solid #FEFDE6;
  z-index: 1;
  position: absolute;
}

#demos {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-evenly;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 24px;
  padding-block-start: 48px;
  padding-block-end: 0px;
}

.flex-objective-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-objective {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

video {
  display: block;
}
 
section {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
  
.removed {
  display: none;
}
  
.invisible {
  opacity: 0.2;
}

#webcamButton {
  cursor: pointer;
}

.objectives-fullcontainer {
  padding-inline: 44px;
}

.camera-fullcontainer {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .camView {
    width: 300px;
    height: 400px;
  }

  #camera {
    width: 0px;
    height: 0px;
  }

  #cameraButton {
    display: none;
  }

  #cameraButtonMobile {
    display: block;
  }

  .camView p {
    display: none;
  }

  .highlighter {
    display: none;
  }

  img {
    width: 94px;
    height: auto;
  }
}

@media only screen and (min-width: 601px) {
  .camView {
    width: 644px;
    height: 484px;
  }

  #camera {
    width: 640px;
    height: 480px;
  }

  #cameraButton {
    display: block;
  }

  #cameraButtonMobile {
    display: none;
  }

  .camView p {
    display: block;
  }

  .highlighter {
    display: block;
  }

  img {
    width: 124px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .objectives-fullcontainer {
    padding-inline: 10px;
  }

  #demos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column-reverse;
  }
}